.modal-fade-enter-active,
.modal-fade-leave-active {
    transition:
        opacity 0.4s ease,
        transform 0.4ms ease;
}

.modal-fade-enter-from {
    opacity: 0;
    
}

.modal-fade-leave-to {
    opacity: 0;
    
}

// ======================================================


.menu-slide-enter-active {
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 2);
    transform-origin: bottom center;
}

.menu-slide-leave-active {
    transition: all 0.2s ease-out;
    transform-origin: bottom center;
}

.menu-slide-enter-from,
.menu-slide-leave-to {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
}

.menu-slide-enter-to,
.menu-slide-leave-from {
    opacity: 1;
    transform: translateY(0) scale(1);
}

// =========================================

.modal-slide-enter-active {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 0.95);
    transform-origin: bottom center;
}

.modal-slide-leave-active {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 0.95);
    transform-origin: bottom center;
}

.modal-slide-enter-from,
.modal-slide-leave-to {
    opacity: 0;
    transform: translateY(100vh);
}

.modal-slide-enter-to,
.modal-slide-leave-from {
    opacity: 1;
    transform: translateY(0);
}

// =================================

.fade-footer-enter-active,
.fade-footer-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.fade-footer-enter-from,
.fade-footer-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.fade-footer-enter-to,
.fade-footer-leave-from {
  opacity: 1;
  transform: translateY(0);
}